@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("_UserSidebar")

<div class="trang-ch-CHNH">
    <div class="overlap">
        <div class="page"></div>
        <div class="overlap-wrapper">
            <div class="overlap-group">
                <img class="element-f"
                     src="img/360-f-610087511-ch3lyox5iufhpkthdfwra38msbwt3gpb-removebg-preview-1-3.png" />
                <img class="img" src="img/360-f-610087511-ch3lyox5iufhpkthdfwra38msbwt3gpb-removebg-preview-1-3.png" />
                <p class="text-wrapper">Đăng ký để nhận thông tin khuyến mãi sớm nhất từ Lumine</p>
                <div class="div">
                    <div class="text-wrapper-2">Nhâp địa chỉ Email</div>
                    <div class="overlap-2">
                        <img class="line" src="img/line-2.svg" />
                        <img class="REGISTER-SUCCESS" src="img/REGISTER-SUCCESS.svg" />
                    </div>
                </div>
                <p class="p">
                    Đăng ký để nhận thông tin liên lạc về các sản phẩm, dịch vụ, cửa hàng, sự kiện và các vấn đề đáng quan tâm
                    của Cocoon.
                </p>
                <div class="text-wrapper-3">Chính sách</div>
                <div class="text-wrapper-4">Về Lumine</div>
                <div class="group">
                    <div class="text-wrapper-5">Hỏi đáp</div>
                    <div class="text-wrapper-6">Hướng dẫn booking</div>
                    <p class="text-wrapper-7">Chọn dịch vụ, ngày , giờ</p>
                    <div class="text-wrapper-8">Điều kiện chung</div>
                    <div class="text-wrapper-9">Liên hệ chúng tôi</div>
                    <div class="iu-khon-bo-mt"><div class="text-wrapper-10">Điều khoản bảo mật</div></div>
                </div>
                <div class="group-2">
                    <div class="text-wrapper-5">Câu chuyện thương hiệu</div>
                    <div class="text-wrapper-6">Giá trị cốt lõi</div>
                    <div class="text-wrapper-7">Trách nhiệm cộng đồng</div>
                    <div class="text-wrapper-11">Tìm hiểu nguyên liệu</div>
                </div>
                <div class="group-3">
                    <div class="text-wrapper-5">Tnnhan0937701338@gmail.com</div>
                    <div class="text-wrapper-6">Ngày cấp: 03/03/2025</div>
                    <div class="text-wrapper-7">Website: lumine.vn</div>
                </div>
                <div class="group-4">
                    <div class="FACEBOOK">
                        <div class="overlap-group-2">
                            <div class="rectangle"></div>
                            <div class="text-wrapper-12">Facebook</div>
                            <img class="arrow-up-right" src="img/arrow-up-right-2.svg" />
                        </div>
                    </div>
                    <div class="INSTAGRAM">
                        <div class="overlap-3">
                            <div class="rectangle-2"></div>
                            <img class="arrow-up-right-2" src="img/arrow-up-right-3.svg" />
                            <div class="text-wrapper-13">Instagram</div>
                        </div>
                    </div>
                    <div class="YOUTUBE">
                        <div class="overlap-3">
                            <div class="rectangle-2"></div>
                            <div class="text-wrapper-13">Youtube</div>
                            <img class="arrow-up-right-2" src="img/arrow-up-right.svg" />
                        </div>
                    </div>
                </div>
                <div class="text-wrapper-14">Thông tin liên hệ</div>
                <div class="text-wrapper-15">Mạng xã hội</div>
                <div class="overlap-4">
                    <div class="text-wrapper-16">BÍ ĐAO</div>
                    <img class="rectangle-3" src="img/rectangle-16.png" />
                    <img class="imagesmode" src="img/imagesmode.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="overlap-5">
        <div class="overlap-group-wrapper">
            <div class="overlap-6">
                <div class="div-wrapper">
                    <div class="overlap-group-3">
                        <div class="rectangle-4"></div>
                        <div class="rectangle-5"></div>
                        <img class="oleg-ivanov" src="img/oleg-ivanov-wbcfysashz4-unsplash-2.png" />
                    </div>
                </div>
                <p class="CHUNG-TAY-c-u-TR-KHU">CHUNG TAY <br />CỨU TRỢ<br />KHUÔN MẶT</p>
                <p class="lumine"><span class="span">Lumine</span> <span class="text-wrapper-17">&nbsp;</span></p>
                <p class="join-hands-to-help">Join hands to help<br />stray dogs and cats</p>
            </div>
        </div>
        
    </div>
    <div class="PAGE">
        <div class="component">
            <div class="overlap-8">
                <div class="group-5">
                    <div class="overlap-group-4">
                        <div class="rectangle-6"></div>
                        <img class="white-rough-texture" src="img/white-rough-texture-pattern-1.png" />
                    </div>
                </div>
                <div class="text-wrapper-19">LUMINE APP</div>
                <p class="lumine-lu-n-s-n-s-ng">
                    <span class="text-wrapper-20">“</span>
                    <span class="text-wrapper-21">Lumine</span>
                    <span class="text-wrapper-20">” luôn sẵn sàng hỗ trợ <br />bạn tìm thợ Makeup uy tín </span>
                </p>
                <div class="group-6">
                    <div class="component-2"></div>
                    <div class="component-3"></div>
                </div>
                <img class="arrow" src="img/arrow.svg" />
                <img class="arrow-2" src="img/arrow-2.svg" />
            </div>
        </div>
    </div>
    <div class="overlap-9">
        <div class="page-3">
            <div class="overlap-10">
                <div class="overlap-11">
                    <img class="group-7" src="img/group-112.png" />
                    <div class="rectangle-7"></div>
                    <img class="png-clipart-line"
                         src="img/png-clipart-line-brushes-black-curved-line-removebg-preview-1.png" />
                    <img class="png-clipart-line-2"
                         src="img/png-clipart-line-brushes-black-curved-line-removebg-preview-2.png" />
                    <img class="line-2" src="img/line-18.svg" />
                    <div class="change-service">
                        <div class="SERVICE"><img class="SERVICE-2" src="img/SERVICE-01.png" /></div>
                        <div class="SERVICE-wrapper"><img class="SERVICE-2" src="img/SERVICE-2.png" /></div>
                        <div class="img-wrapper"><img class="SERVICE-2" src="img/SERVICE-3.png" /></div>
                    </div>
                </div>
                <div class="text-wrapper-22">Dịch vụ cung cấp</div>
            </div>
        </div>
        <div class="frame-2">
            <div class="overlap-12">
                <div class="rectangle-8"></div>
                <img class="tinh-t" src="img/tinh-t.svg" />
            </div>
            <div class="overlap-13">
                <div class="rectangle-9"></div>
                <img class="quyn-r" src="img/quy-n-r.svg" />
            </div>
            <img class="group-8" src="img/group-114.png" />
            <div class="lumine-wrapper">
                <p class="lumine-2"><span class="span">Lumine</span> <span class="text-wrapper-17">&nbsp;</span></p>
            </div>
            <img class="group-9" src="img/group-115.png" />
        </div>
    </div>
    <div class="frame-wrapper">
        <div class="frame-3">
            <div class="overlap-14">
                <div class="group-10">
                    <div class="overlap-group-5">
                        <div class="rectangle-10"></div>
                        <div class="rectangle-11"></div>
                        <img class="oleg-ivanov-2" src="img/oleg-ivanov-wbcfysashz4-unsplash-1.png" />
                    </div>
                </div>
                <div class="rectangle-12"></div>
                <p class="b-n-s-c-g-khi-ng-k">Bạn sẽ được gì khi <br />đăng ký thành viên</p>
                <div class="element">
                    <div class="overlap-15">
                        <p class="h-tr-th-makeup-t-m">
                            <br />+ Hỗ trợ thợ makeup tìm khách hàng nhanh chóng<br />+ Tiện ích khi tích hợp những sản phẩm cho
                            việc trang điểm
                        </p>
                        <div class="text-wrapper-23">Đối với thợ makeup</div>
                    </div>
                    <div class="ellipse"></div>
                </div>
                <div class="op">
                    <div class="overlap-16">
                        <p class="h-tr-kh-ch-h-ng-t-m">
                            <br />+ Hỗ trợ khách hàng tìm thợ makeup uy ín, chất lượng giá cả phải chăng<br />+ Tiện ích khi tích
                            hợp những sản phẩm cho việc trang điểm
                        </p>
                        <div class="text-wrapper-23">Đối với khách hàng</div>
                    </div>
                    <div class="ellipse"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-4">
        <div class="overlap-17">
            <div class="div-2">
                <div class="overlap-group-6">
                    <div class="rectangle-13"></div>
                    <div class="rectangle-14"></div>
                    <div class="rectangle-15"></div>
                    <p class="u-i-cho-th-nh-vi-n">Ưu đãi cho <br />thành viên Lumine</p>
                    <div class="i-v-i-th-makeup-h-tr-wrapper"><p class="text-wrapper-24">Đối với thợ makeup hỗ trợ</p></div>
                    <div class="element-2"><p class="text-wrapper-25">Yên tâm hỗ trợ thành viên</p></div>
                    <div class="i-v-i-kh-ch-h-ng-wrapper"><p class="text-wrapper-24">Đối với khách hàng</p></div>
                    <img class="front-view-korean" src="img/front-view-korean-woman-posing-with-lipstick-2.png" />
                    <img class="front-view-korean-2" src="img/front-view-korean-woman-posing-with-lipstick-1.png" />
                    <img class="group-11" src="img/group-118.png" />
                    <div class="rectangle-16"></div>
                    <div class="lumine-3">Lumine</div>
                    <div class="text-wrapper-26">Lumine</div>
                </div>
            </div>
            <img class="element-f-2"
                 src="img/360-f-610087511-ch3lyox5iufhpkthdfwra38msbwt3gpb-removebg-preview-1-2.png" />
            <img class="element-f-3" src="img/360-f-610087511-ch3lyox5iufhpkthdfwra38msbwt3gpb-removebg-preview-2.png" />
            <img class="logo" src="img/logo-01.png" />
        </div>
    </div>
    <div class="overlap-18">
        <div class="page-5">
            <div class="overlap-19">
                <img class="white-rough-texture-2" src="img/white-rough-texture-pattern-1-2.png" />
                <div class="rectangle-17"></div>
                <div class="group-wrapper">
                    <div class="group-12">
                        <div class="text-wrapper-27">Khách Hàng</div>
                        <div class="frame-4"><p class="text-wrapper-28">TÌM KIẾM THỢ MAKEUP UY TÍN</p></div>
                        @* <p class="text-wrapper-29"> *@
                        @*     Lorem ipsum dolor sit amet consectetur. Ultrices accumsan erat non volutpat vel aliquam urna. Posuere *@
                        @*     blandit aliquam condimentum elementum ut ac. Convallis et diam eu et suspendisse turpis. Fames *@
                        @*     consequat facilisis lectus aliquet *@
                        @* </p> *@
                        <img class="image" src="img/image-2.png" />
                    </div>
                </div>
                <div class="frame-5">
                    <div class="group-13">
                        <div class="text-wrapper-30">Lumine</div>
                        <div class="frame-6"><p class="text-wrapper-28">HỖ TRỢ HAI BÊN CÙNG LỢI ÍCH</p></div>
                        @* <p class="text-wrapper-31"> *@
                        @*     Lorem ipsum dolor sit amet consectetur. Ultrices accumsan erat non volutpat vel aliquam urna. Posuere *@
                        @*     blandit aliquam condimentum elementum ut ac. Convallis et diam eu et suspendisse turpis. Fames *@
                        @*     consequat facilisis lectus aliquet *@
                        @* </p> *@
                        <img class="logo-2" src="img/logo-main.png" />
                    </div>
                </div>
                <div class="frame-7">
                    <div class="group-14">
                        <div class="text-wrapper-32">Đối Tác</div>
                        <div class="frame-8"><p class="text-wrapper-33">TÌM KHÁCH HÀNG ĐỂ MAKEUP</p></div>
                        @* <p class="text-wrapper-34"> *@
                        @*     Lorem ipsum dolor sit amet consectetur. Ultrices accumsan erat non volutpat vel aliquam urna. Posuere *@
                        @*     blandit aliquam condimentum elementum ut ac. Convallis et diam eu et suspendisse turpis. Fames *@
                        @*     consequat facilisis lectus aliquet *@
                        @* </p> *@
                        <img class="image-2" src="img/image-4.png" />
                    </div>
                </div>
                <div class="CHANGE-TYPE-MAIN">
                    <p class="element-NH-NG-TH-MAKEUP">99% NHỮNG THỢ MAKEUP ĐÃ TRẢI QUA NHIỀU NĂM KINH NGHIỆM</p>
                    <p class="element-NH-NG-TH-MAKEUP-2">99% NHỮNG THỢ MAKEUP ĐÃ TRẢI QUA NHIỀU NĂM KINH NGHIỆM</p>
                    <img class="lipstick" src="img/lipstick.png" />
                </div>
            </div>
        </div>
        <div class="page-6">
            <div class="overlap-20">
                <img class="averie-woodard" src="img/averie-woodard-4nulm-juyfo-unsplash-2.png" />
                <div class="rectangle-18"></div>
                <div class="group-15">
                    <div class="text-wrapper-35">LUMINE</div>
                    <div class="text-wrapper-36">LUMINE</div>
                </div>
                <section class="group-16">
                    <div class="overlap-group-7">
                        <h2 class="lumine-4">Lumine</h2>
                        <p class="text-wrapper-39">Hỗ trợ thợ makeup và khách hàng tìm đến nhau</p>
                    </div>
                </section>
                <img class="element-f-4"
                     src="img/360-f-610087511-ch3lyox5iufhpkthdfwra38msbwt3gpb-removebg-preview-1.png" />
            </div>
        </div>
    </div>
    <div class="overlap-21">
        <div class="div-2">
            <div class="frame-9">
                <div class="overlap-22">
                    <div class="group-17">
                        <div class="overlap-group-8">
                            <div class="rectangle-19"></div>
                            <div class="rectangle-20"></div>
                            <img class="oleg-ivanov-3" src="img/oleg-ivanov-wbcfysashz4-unsplash-1-2.png" />
                        </div>
                    </div>
                    <div class="group-18">
                        <p class="c-c-th-makeup-c-th-d">
                            Các thợ makeup có thể dễ dàng quản lý mục đặt lịch phù hợp <br />với mình. Xem danh sách đặt lịch của
                            khách hàng.
                        </p>
                        <div class="overlap-23">
                            <div class="text-wrapper-40">Khách hàng</div>
                            <div class="text-wrapper-41">Đối với</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-7">
            <div class="overlap-24">
                <div class="frame-10">
                    <div class="oleg-ivanov-wrapper">
                        <img class="oleg-ivanov-4" src="img/oleg-ivanov-wbcfysashz4-unsplash-1-3.png" />
                    </div>
                </div>
                <div class="group-19">
                    <p class="c-c-th-makeup-c-th-d-2">
                        Các thợ makeup có thể dễ dàng quản lý mục đặt lịch phù hợp <br />với mình. Xem danh sách đặt lịch của
                        khách hàng.
                    </p>
                    <div class="overlap-group-9">
                        <div class="text-wrapper-42">Thợ makeup</div>
                        <div class="text-wrapper-43">Đối với</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-8">
        <div class="frame-11">
            <div class="overlap-group-10">
                <div class="XEM-CHI-TIET">
                    <div class="text-wrapper-44">XEM CHI TIẾT</div>
                    <img class="REGISTER-SUCCESS-2" src="img/image.svg" />
                </div>
                <p class="text-wrapper-45">Danh sách thợ makeup nổi bật của tháng được những bạn khách đặt lịch</p>
                <div class="text-wrapper-46">Lumine</div>
            </div>
        </div>
    </div>
    @* <div class="group-20"> *@
    @*     <div class="frame-12"> *@
    @*         <div class="group-21"> *@
    @*             <div class="overlap-group-11"><div class="text-wrapper-47">Liên hệ</div></div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
</div>
