.hero {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: white;
}

.hero-image {
    max-height: 500px;
    object-fit: contain;
    width: auto;
    margin: 0 auto;
    display: block;
}


.feature-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.membership-benefits {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.benefit-box {
    backdrop-filter: blur(6px);
}

.promo-customer,
.promo-artist {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
