@* Views/Shared/_AdminSidebar.cshtml *@
<div class="thanh">
    <div class="overlap">
        <div class="rectangle"></div>
        <img class="logo" src="~/img/logo01.png" />
        <div class="text-wrapper">Lumine</div>

        <div class="qun-l-ngi-dng">
            <div class="overlap-group">
                <div class="div"></div>
                <div class="text-wrapper-2">Dashboard</div>
                <img class="vector" src="~/img/image.svg" />
            </div>
        </div>

        <div class="overlap-wrapper">
            <div class="overlap-2">
                <div class="rectangle-2"></div>
                <img class="img" src="~/img/vector-3.svg" />
                <p class="qu-n-l-ng-i-d-ng-th">Quản lý người dùng &amp; thợ</p>
            </div>
        </div>

        <div class="overlap-group-wrapper">
            <div class="overlap-2">
                <div class="rectangle-2"></div>
                <img class="vector-2" src="~/img/vector-4.svg" />
                <div class="text-wrapper-3">Quản lý đặt lịch</div>
            </div>
        </div>

        <div class="div-wrapper">
            <div class="overlap-2">
                <div class="rectangle-2"></div>
                <img class="cost" src="~/img/cost.png" />
                <div class="text-wrapper-4">Quản lý thanh toán</div>
            </div>
        </div>

        <div class="qun-l-ngi-dng-2">
            <div class="overlap-2">
                <div class="rectangle-2"></div>
                <img class="vector-3" src="~/img/vector.svg" />
                <div class="text-wrapper-4">Quản lý đánh giá</div>
            </div>
        </div>

        <div class="qun-l-ngi-dng-3">
            <div class="overlap-2">
                <div class="rectangle-2"></div>
                <img class="member" src="~/img/member.png" />
                <div class="text-wrapper-4">Thành viên</div>
            </div>
        </div>

        <div class="qun-l-ngi-dng-4">
            <div class="overlap-2">
                <div class="rectangle-2"></div>
                <div class="settings"><img class="group" src="~/img/group.png" /></div>
                <div class="text-wrapper-4">Cài đặt</div>
            </div>
        </div>

        <div class="qun-l-ngi-dng-5">
            <div class="overlap-2">
                <div class="rectangle-2"></div>
                <img class="logout" src="~/img/logout.png" />
                <div class="text-wrapper-4">Đăng xuất</div>
            </div>
        </div>

        <div class="text-wrapper-5">DASHBOARD</div>

        <div class="money">
            <div class="text-wrapper-6">30.000.000</div>
            <div class="overlap-3">
                <div class="ellipse"></div>
                <img class="vector-4" src="~/img/vector-2.svg" />
            </div>
        </div>

        <img class="line" src="~/img/line-24.svg" />
        <div class="text-wrapper-7">TRANG QUẢN LÝ</div>
        <div class="text-wrapper-8">QUẢN LÝ ADMIN</div>
    </div>
</div>
