@* Views/Shared/_AppOverview.cshtml *@
<div class="tng">
    <div class="t">
        <div class="overlap-group">
            <div class="rectangle"></div>
            <div class="text-wrapper">90%</div>
            <div class="div">300 / ng</div>
            <div class="text-wrapper-2">Tổng người dùng</div>
        </div>
    </div>

    <div class="overlap-wrapper">
        <div class="overlap">
            <div class="rectangle"></div>
            <div class="text-wrapper-3">Tổng đối tác</div>
            <div class="text-wrapper">80%</div>
            <div class="text-wrapper-4">160 / ng</div>
        </div>
    </div>

    <div class="overlap-group-wrapper">
        <div class="overlap">
            <div class="rectangle"></div>
            <p class="p">Tổng số đơn thành công</p>
            <div class="text-wrapper">50%</div>
            <p class="element-n-th-ng"><span class="span">45</span> <span class="text-wrapper-5">đơn / tháng</span></p>
        </div>
    </div>

    <div class="div-wrapper">
        <div class="overlap">
            <div class="rectangle"></div>
            <div class="text-wrapper-3">Tổng doanh thu web</div>
            <div class="text-wrapper">76%</div>
            <p class="element-n-th-ng"><span class="span">43</span> <span class="text-wrapper-5">đơn / tháng</span></p>
        </div>
    </div>
</div>
