<!-- Share Pic (Responsive Header) -->
<div class="shared-pic-container">
    <div class="background-wrapper">
        <img class="background-rectangle" src="img/rectangle-146.svg" alt="Background rectangle" />
    </div>
</div>
