@using Microsoft.AspNetCore.Mvc.ModelBinding
@model Application.DTOs.Auth.RegisterEmailRequest

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

@if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey(string.Empty))
{
    foreach (var modelError in ViewData.ModelState[string.Empty].Errors)
    {
        <div class="alert alert-danger">@modelError.ErrorMessage</div>
    }
}

<form asp-action="Register" method="post" novalidate>
    <div class="form-group mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mb-3 position-relative">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control pe-5" type="password" id="passwordInput" />
        <span class="password-toggle" onclick="togglePassword()">
            <i id="toggleIcon" class="fa-solid fa-eye"></i>
        </span>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Register</button>
</form>

@* @section Scripts { *@
@*     <partial name="_ValidationScriptsPartial" /> *@
@* } *@
<script>
    function togglePassword() {
        const input = document.getElementById("passwordInput");
        const icon = document.getElementById("toggleIcon");
        const isPassword = input.type === "password";

        input.type = isPassword ? "text" : "password";
        icon.classList.toggle("fa-eye");
        icon.classList.toggle("fa-eye-slash");
    }
</script>
